<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="ml-3">
                <button type="button" class="btn btn-primary" (click)="addProduct()">Ajouter produit</button>
            </div>
            <input type="text" name="code">
            <input type="text" name="sku">
            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="name" value="michael23">
              </div>
            </div>
            <input type="text" name="name">
            <input type="text" name="description">
            <input type="text" name="quantite">
            <input type="text" name="price">
            <input type="text" name="categorie">
            <input type="date" name="dateExp">
          </div>
        </div>
      </div>
    </div>
</div>