<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="ml-3">
                <button type="button" class="btn btn-primary" (click)="refreshPage()">Liste Produits</button>
            </div>
          </div>
        </div>
      </div>
      
    </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card card-stats">
      <div class="card-body ">
          <form>
            <div class="mb-3">
              <label for="code" class="form-label">Code</label>
              <input type="text" class="form-control" id="code" [(ngModel)]="code" name="code" required>
            </div>
            <div class="mb-3">
              <label for="sku" class="form-label">SKU</label>
              <input type="text" class="form-control" id="sku" [(ngModel)]="sku" name="sku" required>
            </div>
            <div class="mb-3">
              <label for="name" class="form-label">Nom</label>
              <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name" required>
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <input type="text" class="form-control" id="description" [(ngModel)]="description" name="description" required>
            </div>
            <div class="mb-3">
              <label for="categorie" class="form-label">Catégorie</label>
              <select class="form-control" id="categorie" [(ngModel)]="categorie" name="categorie" required>
                <option *ngFor="let c of categories" [ngValue]="c.id">
                  {{ c.name }}
                </option>
              </select>
            </div>
            <div class="mb-3 form-check">
              <label for="quantite" class="form-label">Quanité</label>
              <input type="number" min="1" class="form-control" id="quantite" [(ngModel)]="quantite" name="quantite" required>
            </div>
            <div class="mb-3 form-check">
              <label for="price" class="form-label">Prix</label>
              <input type="number" min="1" class="form-control" id="price" [(ngModel)]="price" name="price" required>
            </div>
            <div class="mb-3 form-check">
              <label for="tva" class="form-label">TVA</label>
              <input type="number" class="form-control" id="tva" [(ngModel)]="tva" name="tva" required>
            </div>
            <div class="mb-3 form-check">
              <label for="date_expiration" class="form-label">Date d'experation</label>
              <input type="date" class="form-control" id="date_expiration" [(ngModel)]="date_expiration" name="date_expiration" required>
            </div>
            <button type="button" class="btn btn-primary" (click)="save()">Enregistrer</button>
          </form>
        
      </div>
    </div>
  </div>
</div>

