<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/1645032224707.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="assets/img/Get the We Heart It app!.jpg" alt="...">
            <h5 class="title">Chet Faker</h5>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Profile</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
              <div class="col-md-11 p-2 ml-3">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" placeholder="Company" value="Chet">
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-md-11 p-2 ml-3">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" placeholder="Email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Logout</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <h4 class="card-title">Users</h4>
  </div>
  <div class="card-body">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Identifiant
                </th>
                <th>
                  name
                </th>
                <th>
                  Email
                </th>
                <th>
                  Action
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let user of users; let i = index">
                  <td>
                       {{user.id}}
                  </td>
                    <td>
                        {{user.name}}
                    </td>
                    <td>
                      {{user.email}}
                  </td>
                  <td>
                      <!-- Call to action buttons -->
                      <ul class="list-inline m-0">
                          <li class="list-inline-item">
                              <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit" (click)="editUser(user.id)"></i></button>
                          </li>
                          <li class="list-inline-item">
                              <button class="btn btn-danger btn-sm rounded-0" type="button" (click)="deleteUser(user.id)" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                          </li>
                      </ul>
                  
                  </td>
              </tr>
            </tbody>
            </table>
    <div class="row">
      <div class="update ml-auto mr-auto">
        <button type="submit" class="btn btn-primary btn-round" (click)="addUser()">Add User</button>
      </div>
  </div>
  </div>
