<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="ml-3">
                <button type="button" class="btn btn-primary" (click)="addProduct()">Ajouter produit</button>
            </div>
            <div class="table-responsive ml-3">
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                      Identifiant
                    </th>
                    <th>
                      Code
                    </th>
                    <th>
                      SKU
                    </th>
                    <th>
                      Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Quantité
                    </th>
                    <th>
                        Price
                    </th>
                    
                    <th>
                        TVA
                    </th>
                    <th>
                        Date d'experation
                    </th>
                    <th>
                      Date creation
                  </th>
                  <th>
                    Date modification
                </th>
                <th>
                  Action 
                </th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of products; let i = index">
                      <td>
                        {{product.id}}
                      </td>
                        <td>
                            {{product.code}}
                        </td>
                        <td>
                            {{product.sku}}
                        </td>
                        <td>
                            {{product.name}}
                        </td>
                        <td>
                            {{product.description}}
                        </td>
                        <td>
                            {{product.quantite}}
                        </td>
                        <td>
                            {{product.price}}
                        </td>
                        <td>
                            {{product.tva}}
                        </td>
                        <td>
                            {{product.date_expiration}}
                        </td>
                        <td>
                            {{product.created_at}}
                        </td>
                        <td>
                          {{product.updated_at}}
                      </td>
                      <td>
                        <button (click)="editProduct(product.id)">Edit</button>
                        <button (click)="deleteProduct(product.id)">Delete</button>
                      </td>
                  </tr>
                </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>