<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="ml-3">
                <button type="button" class="btn btn-primary" (click)="addOrder()">Ajouter Commande</button>
            </div>
            <div class="table-responsive ml-3">
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                      Numéro 
                    </th>
                    <th>
                      Prix Totale
                    </th>
                    <th>
                      Prix avec tva
                    </th>
                   <th>
                    Action
                   </th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let order of orders; let i = index">
                        <td>
                            {{order.order_number}}
                        </td>
                        <td>
                            {{order.totale}}
                        </td>
                        <td>
                            {{order.subTotale}}
                        </td>
                          <td>
                            <!-- Call to action buttons -->
                            <ul class="list-inline m-0">
                                <li class="list-inline-item">
                                    <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit" (click)="editOrder(order.order_number)"></i></button>
                                </li>
                                <li class="list-inline-item">
                                    <button class="btn btn-danger btn-sm rounded-0" type="button" (click)="deleteOrder(order.order_number)" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                                </li>
                                <li class="list-inline-item">
                                  <button (click)="imprimer(order.order_number)"><i class="fa fa-print" aria-hidden="true"></i></button>
                              </li>
                            </ul>
                        
                        </td>
                  </tr>
                </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>