<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="ml-3">
                <button type="button" class="btn btn-primary" (click)="refreshPage()">Liste Order</button>
            </div>
          </div>
        </div>
      </div>
      
    </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card card-stats">
      <div class="card-body ">
          <form>
            <div class="mb-3">
              <label for="order_number" class="form-label">Order number</label>
              <input type="text" class="form-control" id="order_number" [(ngModel)]="order_number" name="order_number" required>
            </div>
            <div class="mb-3">
              <label for="totale" class="form-label">Total</label>
              <input type="text" class="form-control" id="totale" [(ngModel)]="totale" name="totale" required>
            </div>
            <div class="mb-3">
              <label for="subTotale" class="form-label">Sub total</label>
              <input type="text" class="form-control" id="subTotale" [(ngModel)]="subTotale" name="subTotale" required>
            </div>
            
            <button type="button" class="btn btn-primary" (click)="save()">Submit</button>
          </form>
        
      </div>
    </div>
  </div>
</div>